{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'neatfly/style1.css' %}"/>
</head>
<body>


<h1 class=title>Login page</h1>
<div id=login>
    
<form method="post">

<label for="fname" class=boxtitle>Username:</label>
<input type="text" id="fname" name="username" class="input"><br><br>
<label for="lname" class=boxtitle>Password:</label>
<input type="text" id="lname" name="password" class="input"><br><br>
<input type="submit" value="Submit" class=submit> 

</form>

</div>







</body>
</html>